/frontend/node_modules
/frontend/.env.local
/frontend/.next

/livekit/venv
/livekit/.env

/livekit/**/*.pyc
/livekit/services/__pycache__
/livekit/utils/__pycache__
/livekit/__pycache__
/livekit/livekit-plugins-smallest/build
/livekit/livekit-plugins-sarvam/build
/livekit/livekit-plugins-smallest/livekit_plugins_smallest.egg-info
/livekit/livekit-plugins-sarvam/livekit_plugins_sarvam.egg-info
voice.pem
/venv
/livekit-old